*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f1f1f1;
}

.card{
    width:420px;
    background:#fff;
    border-radius:30px;
    overflow:hidden;
    box-shadow:0 15px 35px rgba(0,0,0,0.1);
    position:relative;
}

.cover{
    height:220px;
    background:url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?w=1200")
    center/cover;
    position:relative;
}

.add-btn{
    position:absolute;
    top:20px;
    right:20px;
    width:60px;
    height:60px;
    border:none;
    border-radius:50%;
    background:#fff;
    font-size:35px;
    cursor:pointer;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}


.profile-img{
    display:flex;
    justify-content:center;
    position:relative;
    margin-top:-90px;
    z-index:10;
}

.profile-img img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    object-position:center;
    border:6px solid #fff;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
}


.content{
    text-align:center;
    padding:25px 30px 30px;
}

.content h2{
    font-size:32px;
    margin-bottom:12px;
    color:#111;
}

.content p{
    color:#777;
    line-height:1.6;
    font-size:18px;
}


.stats{
    display:flex;
    justify-content:space-around;
    margin:35px 0;
    padding:25px;
    border:1px solid #e5e5e5;
    border-radius:25px;
}

.stats h3{
    color:#111;
    margin-bottom:8px;
}

.stats span{
    color:#888;
}


.socials{
    display:flex;
    justify-content:center;
    gap:40px;
    font-size:32px;
    color:#111;
}